.todo-item {
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #e6e6e6;
	color: #707070;
	min-height: 64px;
	position: relative;
}

.todo-item_ready-mark:checked ~ .todo-item_text {
    color: #cfcfcf;
    text-decoration: line-through;
}

.todo-item:first-of-type {
	border-top: 1px solid #e6e6e6;
}

.todo-item_ready-mark, .todo-item_ready-mark-check {
	padding: 0;
	background-color: transparent;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	position: absolute;
	left: 12px;
	top: 50%;
	width: 36px;
	height: 36px;
	margin: 0;
	margin-top: -18px;
	outline: none;
	cursor: pointer;
}

.todo-item_ready-mark {
	opacity: 0;
	z-index: 2;
}

.todo-item_ready-mark-check {
	z-index: 1;
}

.todo-item_ready-mark:checked + .todo-item_ready-mark-check {
	border-color: #88d2c4;
    background: url("../img/completed.png") no-repeat;
	background-position: center center;
}

.todo-item_remove {
	background: url("../img/close.png") no-repeat;
	width: 18px;
	height: 18px;
	padding: 0;
	background-color: transparent;
	border: none;
	position: absolute;
	bottom: 22px;
	right: 12px;
	opacity: 0;
	outline: none;
	cursor: pointer;
}

.todo-item:hover {
	background-color: #fafafa;
}

.todo-item:hover .todo-item_remove {
	opacity: 1;
}

.todo-item_text {
	padding: 22px 60px;
	word-break: break-all;
	outline: none;
}