.todos-add {
	padding: 0;
	min-height: 64px;
	position: relative;
}

.todo-add_select-all {
	background: url("../img/select-all.png") no-repeat;
	width: 24px;
	height: 12px;
	padding: 0;
	background-color: transparent;
	border: none;
	position: absolute;
	left: 20px;
	top: 53%;
	transform: translateY(-50%);
	outline: none;
	cursor: pointer;
}

.todo-add_input {
	width: 480px;
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 14pt;
	border: none;
	position: absolute;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}