@import "config/globals";


.button {
    background-color: transparent;
    border: none;
    color: $c-gray;
    outline: none;
    cursor: pointer;
	}
	.button.__active{
		padding: $offset_half $offset_3x;
		border: 1px solid $c-micro-elements;
		border-radius: 2px;
	}