@import "../../../config/mixins/clearfix";

.todos-add {
	padding: 1.2em;
	position: relative;
	
	@include clearfix();
}

.todo-add_select-all {
	background: url("../img/select-all.png") no-repeat;
	width: 24px;
	height: 12px;
}

.todo-add_input {
	width: 85%;
	font-style: italic;
	font-size: 14pt;
	padding-left: 0.5em;
}