@import "./config/globals";

.todos-trail {
	margin: 0px auto;
	background-color: #ffffff;
	height: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.todos-trail:first-of-type {
	width: $todos-main-width - 6px;
	z-index: 2;
}

.todos-trail:last-of-type {
	width: $todos-main-width - 12px;
	z-index: 1;
}
